body {
    background-color: #e8e8e8;
}

.container {
    margin-top: 4em;
}

form button {
    margin-top: 8px;
}

form input {
    margin-bottom: 16px;
}

form textarea {
    resize: none;
    height: 7em;
}